<div class="Caja">
    <div class="Caja_Header">
        <table class="Caja_Header_Tabla">
            <tr>
                <td class="Caja_Header_Datos">
                    <h1 class="Caja_Header_Tabla-Titulo">Yahir Jesus Jacome Cogco</h1>
            <tr>
                <p class="Caja_Header_Tabla-Info">
                    Estudiante Universitario. <br> Ingeniería de software
                    Futuro Project Manager
                </p>
            </tr>
            </td>

            <td>
                <img class="Caja_Informacion-Foto" src="..\assets\images\img1.png" width="100" heigh="100">
            </td>
            <td>
                <section class="Caja_Informacion_Datos">
                    <h3 class="Caja_Informacion_Datos-Titulo">Datos Personales</h3>
        
                    <p class="Caja_Informacion_Datos-Subtitulo">Número de contacto:</p>
                    <p class="Caja_Informacion_Datos-Info">273-141-18-34</p>
        
                    <p class="Caja_Informacion_Datos-Subtitulo">Email de contacto:</p>
                    <p class="Caja_Informacion_Datos-Info">yahirje_02@hotmail.com</p>
        
                    <p class="Caja_Informacion_Datos-Subtitulo">Lugar de residencia:</p>
                    <p class="Caja_Informacion_Datos-Info">Huatusco, Veracruz</p>
                  </section>
            </td>
            </tr>
        </table>
    </div>
    <div class="Barra"></div>
</div>