<article class="Contenedor">
    <Section class="Titulo_Caja">
        <h1 class="Titulo_Letra">Intereses</h1>
    </Section>

    <table class="Tabla_Contenido">
        <p class="Tabla_Contenido_ Letra Tabla_Contenido_Letra-Titulo">
            Leer &nbsp; | &nbsp; Videojuegos &nbsp; | &nbsp; Futbol
        </p>

        <p class="Tabla_Contenido_ Letra Tabla_Contenido_Letra-Titulo">
            Computacion &nbsp; | &nbsp; Software &nbsp; | &nbsp; Hardware
        </p>
        
    </table>
</article>