<h3>Habilidades y competencias</h3>
<p>
    <label for="tra">Trabajador y observador: </label>
    <progress id="tra" max="100" value="90"> 90% </progress>
</p>
    
<p>
    <label for="cre">Organizacion del trabajo: </label>
    <progress id="cre" max="100" value="70"> 70% </progress>
</p>

<p>
    <label for="to">Toma de decisiones: &nbsp; &nbsp; &nbsp; &nbsp; </label>
    <progress id="to" max="100" value="85"> 85% </progress>
</p>

<p>
    <label for="re">Resolucion de problemas: </label>
    <progress id="re" max="100" value="90"> 90% </progress>
</p>

<p>
    <label for="osr">Capacidad de adapcion: &nbsp; &nbsp; </label>
    <progress id="osr" max="100" value="75"> 75% </progress>
</p>
