<article class="Contenedor">
    <Section class="Titulo_Caja">
        <h1 class="Titulo_Letra">Experiencia Laboral</h1>
    </Section>

    <table class="Tabla_Contenido">
    <ul *ngFor="let work of workExperience">
        <tr>
            <p class="Tabla_Contenido_ Letra Tabla_Contenido_Letra-Texto">
              {{ work.fecha }}
            </p>
    
            <td>
              <p class="Tabla_Contenido_ Letra Tabla_Contenido_Letra-Texto">
                {{ work.ubicacion }}
              </p>
            </td>
          </tr>
    
          <tr>
            <p class="Tabla_Contenido_Letra Tabla_Contenido_Letra-Titulo">
              {{ work.empresa }}
            </p>
          </tr>
    
          <tr>
            <p class="Tabla_Contenido_Letra Tabla_Contenido_Letra-Titulo">
              {{ work.puesto }}
            </p>
          </tr>
    
          <ul *ngFor="let logro of work.logros">
            <li>
              <tr>
                <p class="Tabla_Contenido_ Letra Tabla_Contenido_Letra-Texto">
                  {{ logro.descripcion }}
                </p>
              </tr>
            </li>
          </ul>
        </ul>
      </table>
</article>