<article class="Contenedor">
    <section class="Titulo_Caja">
      <h1 class="Titulo_Letra"> Certificados </h1>
    </section>
  
    <table class="Tabla_Contenido">
      <ul *ngFor="let cer of certificates">
        <tr>
            <p class="Tabla_Contenido_ Letra Tabla_Contenido_Letra-Texto">
              {{ cer.fecha }}
              {{ cer.titulo }}
            </p>
        </tr>
  
        <tr>
            <p class="Tabla_Contenido_ Letra Tabla_Contenido_Letra-Titulo">
              {{ cer.descripcion }}
              <a href="{{cer.link}}"> link </a>
            </p>
        </tr>
      </ul>
    </table>
    
  </article>